<div class="wrapper">
  <div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="content-main">

      <div class="grid-form1" style="margin-left: 25px; width: 95%">
        <h3 id="forms-example" class="">Editar Anúncio</h3>
        <form  id="formRegister" #form="ngForm">

          <div class="form-group">
            <label for="description">Descrição: </label>
            <input type="text" class="form-control" name="description" [(ngModel)]="ads.description"
                   #description="ngModel" id="description" required placeholder="Descrição" minlength="3">
            <span class="form_error" *ngIf="(description.visited || description.touched) && !description.valid">Descrição com o mínimo de 3 caracteres!</span>
          </div>

          <div class="form-group">
            <label for="branchKey">Marca: {{adminComponent.carrosComponent.branchs_selected}}</label>
            <select [(ngModel)]="adminComponent.carrosComponent.branchs_selected" name="branchKey" id="branchKey"
                    #branchKey="ngModel" class="form-control" (change)="adminComponent.carrosComponent.doGetModel()"
                    required>
              <option *ngFor="let b of adminComponent.carrosComponent.branchs" [value]="b.codigo"
                      [selected]="b.codigo===ads.branchKey"> {{b.nome}}
              </option>
            </select>
            <span class="form_error" *ngIf="(branchKey.visited || branchKey.touched) && !branchKey.valid">Por favor escolha uma marca</span>
          </div>
          <div class="form-group">
            <label for="modelKey">Modelo: {{adminComponent.carrosComponent.model_selected}}</label>
            <select [(ngModel)]="adminComponent.carrosComponent.model_selected" class="form-control" id="modelKey"
                    #modelKey="ngModel" name="modelKey" required>
              <option value="{{null}}"> Qualquer</option>
              <option *ngFor="let m of adminComponent.carrosComponent.model.modelos" [value]="m.codigo"
                      [selected]="m.codigo==ads.modelKey">{{m.nome}}
              </option>
            </select>
            <span class="form_error" *ngIf="(modelKey.visited || modelKey.touched) && !modelKey.valid">Por favor escolha uma modelo</span>
          </div>

          <div class="form-group">
            <label for="year">Ano</label>
            <input type="text" class="form-control" id="year" [(ngModel)]="ads.year" name="year" #year="ngModel"
                   placeholder="Ano" required minlength="4">
            <span class="form_error" *ngIf="(year.visited || year.touched) && !year.valid">Faltam números!</span>
          </div>

          <div class="form-group">
            <label for="value">Valor</label>
            <input type="text" class="form-control" id="value" [(ngModel)]="ads.value" name="value" #value="ngModel"
                   placeholder="Valor" required minlength="4">
            <span class="form_error" *ngIf="(value.visited || value.touched) && !value.valid">Faltam números!</span>
          </div>

          <div class="form-group">
            <label for="value">Status</label>
            <select class="form-control" id="flActive" [(ngModel)]="ads.flActive" name="flActive" #flActive="ngModel">
              <option [value]="true" [selected]="ads.flActive === true">Ativo</option>
              <option [value]="false" [selected]="ads.flActive === false">Invativo</option>
            </select>
            <span class="form_error" *ngIf="(flActive.visited || flActive.touched) && !flActive.valid">Selecione o status</span>
          </div>

          <div *ngIf="id != null">
            <image-upload
              [max]="100"
              [url]="url"
              [headers]="[
    {header: 'Authorization', value: 'adminComponent.info_carx.token'}
  ]"
              [buttonCaption]="'ENVIAR IMAGENS'"
              [dropBoxMessage]="''"
              [extensions]="['jpg','png','gif']"
              (onFileUploadFinish)="imageUploaded($event)"
            ></image-upload>
          </div>
          <div class="bs-example" data-example-id="thumbnails-with-custom-content">
            <div class="row">
              <div class="col-sm-6 col-md-4" *ngFor="let ad of ads.imageAds">
                <div class="thumbnail"><img alt="100%x200" data-src="holder.js/100%x200"
                                            src="{{adminComponent.env.url_endpoint_static_content}}Thumb_{{ad.name}}"
                                            data-holder-rendered="true"
                                            style="height: 200px; width: 100%; display: block;">
                  <div class="caption">
                    <p></p>
                    <p><a (click)="removeModalImage(ad.id)" class="btn btn-danger btn-xs" role="button">Deletar</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <button (click)="doUpdateAds($event)" class="btn btn-default" [disabled]="!form.valid">Editar Anúncio</button>
        </form>
      </div>

    </div>
  </div>
</div>
