<!--<div class="full-left">-->
  <!--<section class="full-top">-->
    <!--<button id="toggle"><i class="fa fa-arrows-alt"></i></button>-->
  <!--</section>-->
  <!--<form class=" navbar-left-right" #form="ngForm">-->
    <!--<input type="text" value="Search..." [(ngModel)]="valueSearch" #value="ngModel" name="value" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search...';}">-->
    <!--<input type="submit" value="" class="fa fa-search" (click)="fullTextSeach(value.value)">-->
  <!--</form>-->
  <!--<div class="clearfix"></div>-->
<!--</div>-->
<!--Não deu tempo de implementar-->


