<div class="login">
  <h1><a routerLink="/">CarX </a></h1>
  <div class="login-bottom">
    <h2>Login</h2>
    <form #form="ngForm" (submit)="doLogin($event)">
      <div class="col-md-6">
        <div class="login-mail">
          <input type="text" [(ngModel)]="loginform.email" name="email" #emailL="ngModel" placeholder="Email" email>
          <i class="fa fa-envelope"></i>
        </div>
        <span class="form_error" *ngIf="(emailL.visited || emailL.touched) && !emailL.valid" style="top: -30px; position: relative;">
          Digite um email valido!
        </span>
        <div class="login-mail">
          <input type="password" [(ngModel)]="loginform.password" name="password" #passwordL="ngModel" id="password" placeholder="Password" required minlength="6" maxlength="12">
          <i class="fa fa-lock"></i>
        </div>
        <span class="form_error" *ngIf="(passwordL.visited || passwordL.touched) && !passwordL.valid" style="top: -30px; position: relative;" >
          Digite uma senha de no mínimo 6 caracteres!
        </span>

      </div>
      <div class="col-md-6 login-do">
        <label class="hvr-shutter-in-horizontal login-sub">
          <input type="submit" value="login" [disabled]="!form.valid">
        </label>
      </div>
      <div class="clearfix"></div>
    </form>
  </div>
</div>
