<app-nav-nl></app-nav-nl>
<div class="wrapper">
  <div id="page-wrapper" class="gray-bg dashbard-1" style="margin: 0 0 0 0px !important;">
    <div class="content-main">
      <!--<h1 style="font-size: 16px;">Pagina de Filtro de Carros</h1>-->
      <!--Filtros-->
      <div class="col-md-3" style="width: 20%;">
        <form #form="ngForm">
          <div style="margin-top: 0px; font-size: 13px; width: 232px; background-color: #ecf0f1; padding: 15px;">
            Valor Mínimo: <br>
            <input [(ngModel)]="range_value_min" #range_value_minL="ngModel" name="range_value_min" id="range_value_min"
                   type="text"
                   class="span2" value="" style="height: 20px; ">
            <br>
            Valor Máximo: <br>
            <input [(ngModel)]="range_value_max" #range_value_maxL="ngModel" name="range_value_max" id="range_value_max"
                   type="text"
                   class="span2" value="" style="height: 20px; ">
            <br>
            <div class="form-group form_error"
                 *ngIf="((range_value_minL.visited || range_value_minL.touched) && (range_value_maxL.visited || range_value_maxL.touched) && (range_value_maxL.value != '') && range_value_maxL.value < range_value_minL.value) ">
              O valor maximo não pode ser Menor que valor mínimo
            </div>
            Ano Min: <br>
            <input [(ngModel)]="year_min" #yearMin="ngModel" name="year_min" id="year_min" type="text" class="span2"
                   value=""
                   style="height: 20px; ">
            <br>

            <br>
            Ano Max: <br>
            <input [(ngModel)]="year_max" #yearMax="ngModel" name="year_max" id="year_max" type="text" class="span2"
                   value=""
                   style="height: 20px; ">
            <br>
            <div class="form-group form_error"
                 *ngIf="((yearMin.visited || yearMin.touched) &&
              (yearMax.visited || yearMax.touched) &&
              (yearMax.value != '') &&
              yearMax.value < yearMin.value)">
              O ano maximo não pode ser menor que ano mínimo
            </div>
            Marcas: <br>
            <select [(ngModel)]="branchs_selected" name="branch_selected" (change)="doGetModel()">
              <option value="{{null}}"> Qualquer</option>
              <option *ngFor="let b of branchs" [ngValue]="b.codigo">{{b.nome}}</option>
            </select>
            Modelos: <br>
            <select [(ngModel)]="model_selected" name="model_selected" style="font-size: 10px; width: 200px;">
              <option value="{{null}}"> Qualquer</option>
              <option *ngFor="let m of model.modelos" [ngValue]="m.codigo">{{m.nome}}</option>
            </select>

            <br>
            Ordenado por: <br>
            <select [(ngModel)]="order" name="order">
              <option value="value_asc" selected> Preço crescente</option>
              <option value="value_desc"> Preço decrescente</option>
              <option value="year_asc"> Ano crescente</option>
              <option value="year_desc"> Ano decrescente</option>
            </select>

            <div class="col-sm-8 col-sm-offset-2" style="margin-top: 25px;">
              <button class="btn-primary btn" [disabled]="
              ((range_value_minL.visited || range_value_minL.touched) &&
              (range_value_maxL.visited || range_value_maxL.touched) &&
              (range_value_maxL.value != '') &&
              range_value_maxL.value < range_value_minL.value)
              ||
              ((yearMin.visited || yearMin.touched) &&
              (yearMax.visited || yearMax.touched) &&
              (yearMax.value != '') &&
              yearMax.value < yearMin.value)" (click)="doFilter()">Filtrar</button>
            </div>
          </div>
        </form>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-9">
        <div class="ads_anuncio">
          <h2>CarX</h2>
          <p>Encontre seu carro: </p>
          <div *ngIf="ads.length==0"><br>Nenhuma resultado corresponde ao filtro selecionado</div>
          <div class="ads_item" *ngFor="let a of ads">
            <div class="media">
              <div class="media-left">
                <a href="#">
                  <img class="media-object" *ngIf="a.imageAds.length == 0"
                       src="http://via.placeholder.com/275x155?text=Sem%20Imagem" alt="">
                  <img class="media-object" *ngIf="a.imageAds.length>0"
                       src="{{env.url_endpoint_static_content}}Thumb_{{a.imageAds[0].name}}" alt="">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">{{a.description}}</h4>
                <div class="branch">Marca: {{a.branchName}}</div>
                <div class="model">Modelo: {{a.modelName}}</div>
                <div class="model">Valor: {{a.value}}</div>
                <div class="model">Ano: {{a.year}}</div>
                <div class="model">Anúncio Criado em: {{a.createAt}}</div>
                <div class="model">Última Atualização: {{a.updateAt}}</div>
                <div class="visualize">
                  <a routerLink='/view/{{a.id}}' class="btn btn-danger btn-xs">Ver Anuncio</a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

