<nav class="navbar-default navbar-static-top" role="navigation">
  <app-nav-logo></app-nav-logo>
  <div class="border-bottom">
    <app-nav-top-default></app-nav-top-default>
    <div class="clearfix"></div>
  </div>
</nav>
