<div class="wrapper">
  <div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="content-main">

      <div class="grid-form1" style="margin-left: 25px; width: 95%">
        <h3 id="forms-example" class="">Novo Anúncio</h3>
        <form (submit)="doNewAds($event)" id="formRegister" #form="ngForm">

          <div class="form-group">
            <label for="description">Descrição: </label>
            <input type="text" class="form-control" name="description" [(ngModel)]="object.description"
                   #description="ngModel" id="description" required placeholder="Descrição" minlength="3">
            <span class="form_error" *ngIf="(description.visited || description.touched) && !description.valid">Descrição com o mínimo de 3 caracteres!</span>
          </div>

          <div class="form-group">
            <label for="branchKey">Marca: </label>
            <select [(ngModel)]="adminComponent.carrosComponent.branchs_selected" name="branchKey" id="branchKey"
                    #branchKey="ngModel" class="form-control" (change)="adminComponent.carrosComponent.doGetModel()"
                    required>
              <option *ngFor="let b of adminComponent.carrosComponent.branchs" [ngValue]="b.codigo">{{b.nome}}</option>
            </select>
            <span class="form_error" *ngIf="(branchKey.visited || branchKey.touched) && !branchKey.valid">Por favor escolha uma marca</span>
          </div>

          <div class="form-group">
            <label for="modelKey">Modelo: </label>
            <select [(ngModel)]="adminComponent.carrosComponent.model_selected" class="form-control" id="modelKey"
                    #modelKey="ngModel" name="modelKey" required>
              <option *ngFor="let m of adminComponent.carrosComponent.model.modelos" [ngValue]="m.codigo">{{m.nome}}
              </option>
            </select>
            <span class="form_error" *ngIf="(modelKey.visited || modelKey.touched) && !modelKey.valid">Por favor escolha uma modelo</span>
          </div>

          <div class="form-group">
            <label for="year">Ano</label>
            <input type="text" class="form-control" id="year" [(ngModel)]="object.year" name="year" #year="ngModel"
                   placeholder="Ano" required minlength="4">
            <span class="form_error" *ngIf="(year.visited || year.touched) && !year.valid">Faltam números!</span>
          </div>

          <div class="form-group">
            <label for="value">Valor</label>
            <input type="text" class="form-control" id="value" [(ngModel)]="object.value" name="value" #value="ngModel"
                   placeholder="Valor" required minlength="4">
            <span class="form_error" *ngIf="(value.visited || value.touched) && !value.valid">Faltam números!</span>
          </div>
          <div *ngIf="id != null">
            <image-upload
              [max]="100"
              [url]="url"
              [headers]="[
    {header: 'Authorization', value: 'adminComponent.info_carx.token'}
  ]"
              [buttonCaption]="'ENVIAR IMAGENS'"
              [dropBoxMessage]="''"
              [extensions]="['jpg','png','gif']"
              (onFileUploadFinish)="imageUploaded($event)"
            ></image-upload>
          </div>
          <div *ngIf="id == null">
            <button type="submit" class="btn btn-default" [disabled]="!form.valid">Salvar Anúncio</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
