<div class="drop-men">
  <ul class="nav_1">
    <li class="dropdown" style="position: relative; top: 20px; right: 40px;">
      <a [routerLink]="['/registro']" style="text-decoration: none;">Registre-se</a> ou <a [routerLink]="['/login']" style="text-decoration: none;">Faça Login</a> para Anunciar
    </li>
  </ul>
</div>
