<div class="wrapper">
  <div id="page-wrapper" class="gray-bg dashbard-1" style="margin: 0 0 0 260px !important;">
    <div class="content-main">

      <div class="col-md-12 tab-content tab-content-in">
        <div class="tab-pane active text-style" id="tab1">
          <div class="inbox-right">
            <div class="form-group">
              <label for="searchText">Pesquisa: </label>
              <input type="text" value="" id="searchText" (keyup)="fullTextSeach($event)">
            </div>
            <div *ngIf="adminComponent.carrosComponent.ads===null || adminComponent.carrosComponent.ads.length==0"><strong>Nenhum resultado para essa busca</strong></div>
            <div class="mailbox-content">

              <table class="table">
                <tbody>
                  <tr class="table-row" *ngFor="let ad of adminComponent.carrosComponent.ads">
                  <td class="table-img">
                    <img *ngIf="ad.imageAds.length == 0" src="http://via.placeholder.com/275x155?text=Sem%20Imagem" alt="">
                    <img *ngIf="ad.imageAds.length>0" src="{{adminComponent.carrosComponent.env.url_endpoint_static_content}}Thumb_{{ad.imageAds[0].name}}" alt="">
                    <!--#-->
                  </td>
                  <td class="table-text">
                    <h6>{{ad.description}}</h6>
                    <p>{{ad.modelName}}</p>
                    <p>{{ad.branchName}}</p>
                  </td>
                  <td>
                    <a class="btn btn-danger btn-xs" (click)="removeModalAds(ad.id)" >Delete</a>
                    <a class="btn btn-info btn-xs" [routerLink]="['/admin/update-ads', ad.id]">Edit</a>
                    <a class="btn btn-primary btn-xs" [routerLink]="['/view', ad.id]" target="_blank">View</a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
