<app-nav-nl></app-nav-nl>
<div class="wrapper">
  <div id="page-wrapper" class="gray-bg dashbard-1" style="margin: 0 0 0 20px !important;">
    <div class="content-main">
      <a routerLink="/" style="text-decoration: none;">Voltar</a><br>
      {{ads.description}} <br>
      Modelo: {{ads.modelName}} <br>
      Marca: {{ads.branchName}} <br>
      Ano: {{ads.year}} <br>
      R$ {{ads.value}} <br>

      Anunciante: {{name}} - {{email}}

      <div class="gallery">

        <div class="col-md" *ngFor="let images of ads.imageAds">

          <div class="gallery-img">
            <a href="{{env.url_endpoint_static_content}}{{images.name}}" class="b-link-stripe b-animate-go  swipebox"
               title="Image Title">
              <img class="img-responsive " src="{{env.url_endpoint_static_content}}Thumb_{{images.name}}" alt="">
              <span class="zoom-icon"></span>
            </a>
          </div>
          <div class="text-gallery">
            <h6>Fotos</h6>
          </div>

        </div>

        <div class="clearfix"></div>
      </div>

    </div>

  </div>

</div>
