<!--somente logado também -->
<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
      <li>
        <a [routerLink]="['/admin/update-user']" class=" hvr-bounce-to-right"><i class="fa fa fa-user nav_icon "></i><span
          class="nav-label">Editar Usuario</span> </a>
      </li>
      <li>
        <a [routerLink]="['/admin/create-ads']" class=" hvr-bounce-to-right"><i class="fa fa fa-pencil-square-o nav_icon "></i><span
          class="nav-label">Criar Novo Anúncio</span> </a>
      </li>
      <li><a [routerLink]="['/admin/']" class=" hvr-bounce-to-right"> <i class="fa fa-list-alt nav_icon"></i>Listar
        Anúncios</a>
      </li>
    </ul>
  </div>
</div>
<!-- /somente logado-->
