<div class="wrapper">
  <div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="content-main">

      <div class="grid-form1" style="margin-left: 25px; width: 95%">
        <h3 id="forms-example" class="">Editar Usuario</h3>
        <form (submit)="doUpdateUser($event)" id="formRegister" #form="ngForm">
          <div class="form-group">
            <label for="name">Nome Completo</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="adminComponent.info_carx.name" #nameL="ngModel" id="name" required placeholder="Nome completo" minlength="15">
            <span class="form_error" *ngIf="(nameL.visited || nameL.touched) && !nameL.valid">Nome com o mínimo de 3 caracteres!</span>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" [(ngModel)]="adminComponent.info_carx.email" name="email" #emailL="ngModel"  id="email" required placeholder="Email address" email>
            <span class="form_error" *ngIf="(emailL.visited || emailL.touched) && !emailL.valid">Email invalido!</span>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" [(ngModel)]="password" name="password" #passwordL="ngModel" id="password" required placeholder="Password" minlength="6" maxlength="12">
            <span class="form_error" *ngIf="(passwordL.visited || passwordL.touched) && !passwordL.valid">Campo requerido!</span>
          </div>

          <div class="form-group">
            <label for="re_password">Re-Password</label>
            <input type="password" class="form-control" [(ngModel)]="re_password"  name="re_password" id="re_password" #re_passwordL="ngModel" required placeholder="Re-Password" minlength="6" maxlength="12">
            <span class="form_error" *ngIf="(re_passwordL.visited || re_passwordL.touched) && !re_passwordL.valid">Campo requerido!</span>
          </div>

          <div class="form-group form_error" *ngIf="((re_passwordL.visited || re_passwordL.touched) && re_passwordL.valid) && ((re_passwordL.visited || re_passwordL.touched) && re_passwordL.valid) && (passwordL.value!=re_passwordL.value)">
            As senhas precisam ser iguais!
          </div>

          <div class="form-group">
            <label for="cpf">CPF</label>
            <input type="text" class="form-control" id="cpf" [(ngModel)]="adminComponent.info_carx.cpf" name="cpf" #cpfL="ngModel" placeholder="CPF" required minlength="14">
            <span class="form_error" *ngIf="(cpfL.visited || cpfL.touched) && !cpfL.valid">Faltam números!</span>
          </div>
          <button type="submit" class="btn btn-default" [disabled]="!form.valid || (passwordL.value!=re_passwordL.value)">Salvar Usuario</button>
        </form>
      </div>

    </div>
  </div>
</div>
