<nav class="navbar-default navbar-static-top" role="navigation">
  <app-nav-logo></app-nav-logo>
  <div class=" border-bottom">
    <div class="drop-men">
      <ul class=" nav_1">
        <li class="dropdown">

          <a href="#" class="dropdown-toggle dropdown-at" data-toggle="dropdown"><span class=" name-caret"> {{name}} <!--{{user.name.split(" ")[0]}}-->
            <i class="caret"></i></span><img src="assets/images/rsz_user_male2-512.png"></a>
          <ul class="dropdown-menu " role="menu">
            <li><a [routerLink]="['/admin/update-user']"><i class="fa fa-user"></i>Editar Usuario</a></li>
            <li><a (click)="doSignOut()"><i class="fa fa-sign-out"></i>Sair</a></li>
          </ul>

        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
    <app-nav-s-l></app-nav-s-l>
  </div>
</nav>
